$alert-bg:             #f2dede !default;
$alert-text:           #a94442 !default;
$alert-border:         darken(adjust-hue($alert-bg, -10), 5%) !default;

body {
  background: #fec;
  font-family: Arial, Helvetica, sans-serif;
}

.alert {
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border: 1px solid $alert-border;
  background: $alert-bg;
  position: relative;
  line-height: 1.3;
  color: $alert-text;

  * {
    margin: 0;
    padding: 0;
  }

  strong {
    font-weight: bold;
    display: block;
    font-size: 1.2rem;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    width: 2rem;
    background: none;
    display: inline-block;
    height: 100%;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    color: inherit;
  }
}
